/* -- 无名氏 Nameless kaiheila theme By Misaka-L -- */
/* Github: https://github.com/Misaka-L/Nameless-Kaiheila-theme */

/* -- 主题相关 -- */
*{
    --background-url: url("http://pixiv.cat/89358421.png");
    /*
    图片来自 Pixiv: https://www.pixiv.net/artworks/89358421
    插画: 星空をキャンバスに変えて 作者: ドトノ
    插画版权归原作者所有，主题作者对于使用该插画造成的侵权行为不负任何责任

    Image from Pixiv: https://www.pixiv.net/artworks/89358421
    Illustration: 星空をキャンバスに変えて Creator: ドトノ
    The copyright of the illustration belongs to the original author. The theme author is not responsible for any infringement caused by the use of the illustration.
    */
}

/* -- 重置黑暗主题设置 -- */
.theme-dark{
    --win-background: transparent !important;
    --win-title-bar: transparent !important;
    --left-nav-background: transparent !important;
    --background-primary: rgba(0, 0, 0, 0.5) !important;
    --mention-message-bg: transparent !important;
    --menu-background: var(--background-primary) !important;
    --menu-head: var(--background-primary) !important;
    --box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5) !important;
    --box-shadow-sm: 0px 1px 6px -2px rgba(0, 0, 0, 0.5) !important;
    --box-shadow-lg: 0px 4px 12px -1px rgba(0, 0, 0, 0.5) !important;
}

/* -- 背景图片 --  */
body{
    background-image: var(--background-url) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 清除聊天界面背景颜色以显示背景图片 */
.room-layout{
    background: transparent !important;
}

.room-header{
    background: transparent !important;
}

.room-content-left{
    background: transparent !important;
}

.room-content-right{
    background: transparent !important;
}

/* -- 连接中界面 -- */
.connect-center-layout{
    background-color: transparent !important; /* 清除连接中界面背景 */
}

/* -- 消息编辑框 -- */
.theme-send-ctrl-bg{
    background: var(--background-primary) !important; /* 重设编辑框背景颜色 */
}

/* -- 弹窗背景 -- */
.modal-body{
    backdrop-filter: blur(1rem); /* 给弹窗添加模糊背景 */
}

.feedback-dialog{
    backdrop-filter: blur(1rem); /* 帮助弹窗 */
}

/* -- 用户卡片 -- */
.user-playing-game{
    border: none !important; /* 清除用户正在玩游戏时的边框 */
}

.user-playing-music{
    border: none !important; /* 清除用户正在听音乐的边框 */
}

.user-avator{
    border: none !important; /* 清除用户头像的边框 */
}

.card-head{
    border: none !important; /* 清除用户头像的边框 */
    padding: 0 i !important;
}

.user-info-card{
    backdrop-filter: blur(1rem); /* 给用户卡片添加背景模糊 */
    background: var(--background-primary) !important; /* 设置用户卡片背景颜色 */
}

.role-list-wrapper{ /* 用户卡片添加角色列表的背景模糊 */
    backdrop-filter: blur(1rem);
}

.card-head{
    background-image: none !important; /* 清除用户头像的边框 (有状态时) */
}

/* -- 小红点 -- */
.text-channel-unread-icon{ /* 重设文字频道小红点大小 */
    height: 8px !important;
    width: 8px !important;
}

.guild-unread-icon{ /* 重设服务器小红点大小 */
    height: 12px !important;
    width: 12px !important;
}

/* -- 推荐服务器 -- */
.card-mask{ /* 清除 "查看服务器" */
    opacity: 0;
}

.guild-card-item:hover{
    margin-top: 0 !important;
    transform: scale(1.1);
}

.guild-card-item:hover .back:after{
    opacity: 1 !important;
}

.guild-card-item:hover .back-top{
    filter: blur(10px);
}

.guild-card-item:hover .front-info .card-title{
    background: none;
    height: 24px !important;
}

.guild-card-item .front-info .card-title{
    height: 38px !important;
    margin: 0 -16px;
    padding: 0 16px;
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.guild-card-item:hover .front-info .card-title:before{
    opacity: 0;
}

.guild-card-item .front-info .card-title:before {
    background: linear-gradient(0, rgba(0, 0, 0, 0.55), transparent);
    content: "";
    position: absolute;
    top: 33px;
    left: 0;
    height: 38px;
    width: 100%;
    z-index: -1;
}

.guild-card-item .outer-tag{
    bottom: 10px !important;
}

.guild-card-item:hover .front-info .card-desc{
    transform: translate(0, 0);
}

.guild-card-item:hover .front-info{
    transform: translate(0, 0);
}

.guild-card-item .back-top{
    transition-property: filter;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.guild-card-item .back:after{
    opacity: 0;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--background-primary);
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.guild-card-item .front-info .card-desc{
    transform: translate(0, 10px);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.guild-card-item .front-info{
    transform: translate(0, 58.5%);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.guild-logo{
    visibility: collapse;
}

.guild-card-item{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    height: auto !important;
}

.discover-input-wrapper{ /* 给搜索框加个背景模糊 */
    backdrop-filter: blur(1rem);
}

/* -- Emoji 面板 -- */
.emoji-panel{
    backdrop-filter: blur(1rem); /* 添加面板背景模糊 */
}

/* -- 置顶消息 -- */
.prompt-stick-messaage{
    background: var(--background-primary) !important;
    backdrop-filter: blur(1rem);
}

.prompt-stick-messaage .close-btn-box{
    background: transparent !important;
}

.message-item{ /* 重设置顶消息背景 */
    background-color: var(--background-primary) !important;
    backdrop-filter: blur(1rem) ;
}

.theme-stick-message-box-bg{
    background-color: var(--background-primary) !important;
    backdrop-filter: blur(1rem);
}

/* -- 消息 -- */
.message-context-menu{ /* 消息上下文菜单列表 e.g 举报 */
    backdrop-filter: blur(6px);
}

/* -- 设置界面 -- */
.setting-mask{ /* 设置界面的背景模糊 */
    backdrop-filter: blur(0.3rem);
}

/* -- 提示气泡 ToolTip -- */
.__react_component_tooltip.type-info{ /* 重设提示框背景颜色，添加模糊 */
    background: var(--background-primary) !important;
    backdrop-filter: blur(1rem);
}

.__react_component_tooltip.type-info.place-top:after{ /* 为提示框下面的倒三角 ▼ 改变背景颜色，添加模糊 */
    border-top-color: var(--background-primary) !important;
    backdrop-filter: blur(1rem);
}

/* -- 加载页面 -- */
.connect-logo{
    height: 0 !important; /* 清除 logo */
}

/* -- 历史消息 / 有新消息提示 -- */
.scroll-bottom-tips{ /* 调整 "你正在查看历史消息"，使其成为单独一个气泡 */
    margin-bottom: 10px !important;
    background-color: rgba(102, 102, 204, 0.8) !important;
    border-radius: 8px !important;
    backdrop-filter: blur(1rem);
}

.unread-tips{ /* 调整 "有新消息"，使其成为单独一个气泡 */
    margin-top: 10px !important;
    background-color: rgba(102, 102, 204, 0.8) !important;
    border-radius: 8px !important;
    backdrop-filter: blur(1rem);
}

/* -- 卡片消息 -- */
.bili-video-preview{ /* BiliBili 视频卡片背景 */
    background-color: var(--background-primary) !important;
    backdrop-filter: blur(1rem);
}

.kui-card{
    background: var(--background-primary) !important; /* 重设卡片信息背景颜色 */
    backdrop-filter: blur(1rem); /* 添加背景模糊, 然鹅不知道为什么不能用 */
}

.url-parse-website{ /* 网址解析卡片背景 */
    background-color: var(--background-primary) !important;
    backdrop-filter: blur(1rem);
}

/* -- 通用 -- */
.theme-textarea{ /* 重设文本域背景 */
    background-color: var(--background-primary) !important;
}

.top-menu{ /* 菜单背景模糊 */
    backdrop-filter: blur(10px) !important;
}

.user-setting-menu{
    backdrop-filter: blur(1rem);
}

.header-right{
    background: transparent !important; /* 去除频道右上角按钮诡异的黑色方块 */
}

.theme-selector-option-bg{ /* 下拉菜单列表 */
    backdrop-filter: blur(1rem);
    background-color: var(--background-primary);
}

.slider-wrapper{ /* 滑块背景模糊 */
    backdrop-filter: blur(1rem);
}

.menu-icon-item.active .icon-button{ /* 服务器列表选中 */
    border: 10px solid rgba(221, 221, 221, 0.1);
    background-color: rgba(221, 221, 221, 0.1) !important;
}

.preview-image-mask{
    backdrop-filter: blur(1rem);
    background-color: var(--background-primary) !important;
}

/* 新消息 */
.left-timer{
    background: transparent !important; /* 清除诡异的背景 */
    top: -12px !important; /* 移动到分割线上面 */
}

/* 语音输入模式选择 */
.audio-mode-change-box{
    backdrop-filter: blur(1rem);
}

/* 设置更改确认 */
.setting-model-right-role{
    backdrop-filter: blur(1rem);
}

.message-search-type-panel{
    backdrop-filter: blur(1rem);
}

.viewer-tool-bar{
    backdrop-filter: blur(1rem);
    background-color: var(--background-primary) !important;
}

.viewer-tool-submenu{
    background-color: var(--background-primary);
    backdrop-filter: blur(1rem);
}

.invite-message-box{
    backdrop-filter: blur(1rem);
}

.room-layout-inner{
    backdrop-filter: blur(1rem);
    border-radius: 6px;
}

.user-search-box{
    backdrop-filter: blur(1rem);
}

.pointerMenu, .contentMenu{
    transform: translate(-350px, -42px);
}

.emoji-item-info{
    transform: translate(-965px, -570px) !important;
    backdrop-filter: blur(1rem);
}

.emoji-item-info .layer-arrow{
    visibility: collapse;
}

/* .emoji-wrapper:hover>.text-message-box.__react_component_tooltip{
    transform: translate(-352px, -33px);
} */